.headerPost {
  display: grid;
  grid-template-areas: /*ПОРЯДОК ЭТИХ СТРОК ВАЖЕН*/ 'avaIcon NameUser time dotdotdot';

  grid-template-rows: 30px; /*ПОРЯДОК ЭТИХ СТРОК ВАЖЕН*/

  grid-gap: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.avatarIcon {
  width: 40px;

  grid-area: avaIcon;

  border-radius: 15%;
}

.NameUser {
  grid-area: NameUser;
}

.time {
  grid-area: time;
}

.dotdotdot img {
  grid-area: dotdotdot;
  width: 25px;
  outline: solid;
  outline-width: 1px;
}
