
.butForHome{
    color: black;
    outline: solid;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
}
.butForViewAllPost{
    margin-top: 15px;
}
.butForAddNewPost{
    margin-top: 40px;
}