
.mainContent{
    display: grid;

    grid-template-areas: 
    "userAva infoAboutUser"
    ;

    outline: solid;

    border-radius: 7%;
    margin-top: 50px;

    background-color: white;
}
.profilePicture img{
    width: 80px;
    grid-area: "userAva";
    border-radius: 8%;
    padding: 10px;




    
    
}
.infoAboutUser{
    display: grid;

    grid-template-areas: 
    "name"
    "id"
    "email";
    grid-area: "infoAboutUser";

    
}
.userName{

    grid-area:"name"
}
.userId{

    grid-area: "id";
}
.userEmail{
    grid-area: "email";
}