
.mainContent{
    display: grid;

    grid-template-areas: 
    "userAva infoAboutUser"
    ;

    outline: solid;

    border-radius: 7%;
    margin-top: 50px;

    background-color: white;
}
.profilePicture img{
    height: 90px;
    
    grid-area: "userAva";
    border-radius: 30%;
    padding: 10px;
    




    
    
}
.infoAboutUser{
    display: grid;

    grid-template-areas: 
    "name"
    "id"
    "email";
    grid-area: "infoAboutUser";
    margin-top: 5px;

    
}
.userName{

    grid-area:"name"
}
.userId{

    grid-area: "id";
}
.userEmail{
    grid-area: "email";
}