
.searchUserPage{
    width: 100vw;
}
.mainContent{
    display: grid;


    grid-template-areas: /*ПОРЯДОК ЭТИХ СТРОК ВАЖЕН*/           
    "input logo"
    ;
    margin-top: 30px;
    justify-content: center;
    grid-gap: 8px;
    
    
}
.ButForMyPage{
    grid-area: "GoToMyPage";
    padding: 30px;
}

.item{
    grid-area: "item";
}

.textArea{
    grid-area: "input";
    
    
}

.logoSearch{

    width: 55px;
    grid-area: "logo";
   
}

.containerUserList{
    display: flex;

    justify-content: center;
}


