

.mainContent{
    display: grid;


    grid-template-areas: /*ПОРЯДОК ЭТИХ СТРОК ВАЖЕН*/           
    "input logo"
    ;
    margin-top: 30px;
    
    
}
.ButForMyPage{
    grid-area: "GoToMyPage";
    padding: 30px;
}

.item{
    grid-area: "item";
}

.textArea{
    grid-area: "input";
    
}

.logoSearch{

    width: 55px;
    grid-area: "logo";
   
}


