.MyProfileV2PAge {
  width: 100vw;
}

.MainConteiner {
  display: grid;

  grid-template-areas: 'userAvatar infoAboutUser';

  margin-top: 50px;
  padding: 50px;

  justify-content: left;
}

.profilePicture img {
  height: 300px;
  grid-area: 'userAvatar';

  margin-right: 50px;
}
.infoAboutUser {
  display: grid;

  grid-template-areas:
    'name'
    'id'
    'email'
    'countFollowing';

  grid-area: 'infoAboutUser';

  font-size: 30px;
  color: black;
}

.userName {
  grid-area: 'name';

  font-weight: bold;
}
.userId {
  grid-area: 'id';
}
.userEmail {
  grid-area: 'email';
}

.userGallery {
  display: flex;
}
.regFormPhoto {
  display: flex;
}

.countFollowing {
  grid-area: 'countFollowing';
}
