.headerLineInFormAddPost{
    display: grid;
    
    grid-template-areas: /*ПОРЯДОК ЭТИХ СТРОК ВАЖЕН*/
    "avIcon textArea";
    grid-gap: 5px;
    margin-top: 30px;
    outline: solid;
    
}

.avatarIconFormAddPost{
    width: 20px;
    grid-area: avIcon;
    outline: solid;
    border-radius: 10%;
    padding: 5px;
}
.plateForTextTextArea{
    width: 300px;
    height: 100px;
    grid-area: textArea;
    border-radius: 5%;
}
    