*{
    padding: 0;
    margin: 0;
}
.form{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: blue;
}
.stylesignin{
    display: block
    ;
}
.error{
    color: red
}
.success{
    color: rgb(7, 170, 7)
}