*{
    padding: 0;
    margin: 0;
}
.form{
    display: flex;
    text-align: center;
    justify-content: center;
    
    
}
.stylesignin{
    display: block
    ;
}
.error{
    color: red
}
.success{
    color: rgb(7, 170, 7)
}
.modal{
    padding: 2px; 
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: linear-gradient(45deg, #9890e3, #b1f4cf);
  }
  :root {
    background: linear-gradient(45deg, #9890e3, #b1f4cf);
}